#container {
  width: 100%;     
}

.column {
    width: 100%; 
    display: inline-block; 
    padding-left: 10px; 
    padding-bottom: 15px; 
    border-bottom: 1px dashed black; 
}

.main-header .logo-menu-icon img {
    max-width: 100%; 
}

.header-main, #header-main-image { 
    display: none; 
}

.main-nav ul li {
    display: block; 
    padding: 4px 4px 5px 5px;
    border-bottom: 1px solid gainsboro; 
}

.column-box {
    padding-left: 15px;
}