/*Netbook*/
@media (max-width: 1400px) {
/* --------------------
BASE STYLE
--------------------- */

html {
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 15px;
}
#container {
    /*width: 920px;*/
    margin: 0 auto;
}
/* HEADER */

.logo-menu-icon {
    margin: 10px 0px;
    width: 100%;
    height: 100px;
    background-color: #1B1B1B;
    margin: 0;
}
.main-header img {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}
.menu-hamburger {
    display: none;
}
/* NAV */

.main-nav {
    background-color: #2A3333;
    margin-bottom: 20px; 
}
.main-nav ul {
    padding: 10px;
}
.main-nav li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
/* MAIN HEADER */



.header-main {
    max-width: 100%; 
	/*height: 380px;*/
    margin: 5px; 
	border: 2px solid #eee;
	padding: 2px;
    position: relative; 
}


#header-main-text {
    float: left;
    text-shadow: #000 0px 1px 0px;
    background: url(../images/bg_header.png);
    background-size: cover; 
    margin: 10px; 
    background-position: center center; 
    background-repeat: no-repeat;
    max-width: 100%; 
    height: 350px;
    position: relative; 
    
}
.header-main-paragraph {
    color: gainsboro;
    margin-top: 275px;  
    line-height: 17px;
    padding: 20px 15px 20px 15px;
    font-size: 15px;
    background-image: url(../images/bg_text.png); 
}
.clear {
    clear: both;
}
/* MAIN COLUMNS */

.column {
    float: left;
    width: 29%;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #31353a;
}
.column-box {
    float: left;
    margin-top: 12px;
}
.column h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.column p {} .column h4 {} .column-box {}
/*MAIN*/

.main-content {
    position: relative;
}
/*FOOTER*/

footer {
    background-color: #2A3333;
}
.footer-content {
    padding: 5px;
}
footer p {
    font-size: 14px;
    color: gainsboro;
    line-height: 1.3;
}
}

/*Tablet*/
@media (max-width: 790px) {
     #container {
  max-width: 100%;     
}
    .column {
    float: left;
    width: 27%;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #31353a;
}
.column-box {
    float: left;
    margin-top: 12px;
}
.header-main-paragraph {
    color: gainsboro;
    margin-top: 258px;  
    line-height: 17px;
    padding: 20px 15px 20px 15px;
    font-size: 15px;
    background-image: url(../images/bg_text.png); 
}
}

/*SMARTFON*/
@media (max-width: 599px) {
    #container {
  max-width: 100%;     
}

.column {
    width: 100%; 
    display: inline-block; 
    padding-left: 10px; 
    padding-bottom: 15px; 
    border-bottom: 1px dashed black; 
}

.main-header .logo-menu-icon img {
    max-width: 100%; 
}

.header-main, #header-main-image { 
    display: none;
}

.main-nav ul li {
    display: block; 
    padding: 4px 4px 5px 5px;
    border-bottom: 1px solid gainsboro; 
}

.column-box {
    padding-left: 15px;
}
    
}